<launch>

    <include file="$(find speechToTextPalbator)/launch/stt_global_v2.launch" />

    <include file="$(find connectionManager)/launch/connectionManager.launch" />

    <include file="$(find ttsMimic)/launch/TTS.launch" />


    <arg name="config" default="$(find HriManager)/config/config_HRI.yaml" doc="Path to parameter config file"/>


    <node name="HRIManager" pkg="HriManager" type="HRIManager.py" output="screen">
        <rosparam file="$(arg config)"/>
    </node>

    <!-- TABLET LAUNCH NOT WORKING FOR NOW-->
    <!-- <node name="tablet" pkg="HriManager" type="test_launching_tablet.py" output="screen" /> -->

    <node name="multiplexer_tablet" pkg="HriManager" type="multiplexer.py" output="screen" />


</launch>
